h1, h2 {
    text-align: center;
    margin: 0px auto;
    display: block;
    background-color: rgb(205, 225, 241);
    
}

h2 {
    font-size: medium;
    padding-bottom: 0.5em;
}

h3 {
    font-size: medium;
    text-align: center;
    background-color: rgb(205, 225, 241);
}
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-weight: bold;
}

nav {
    text-align: center;
    background-color: aliceblue;
    outline: 2px dotted white;
}

nav a{
    font-size: 20px;
    font-weight: 450;
    display: inline;
}

nav a:focus {
    color: orangered;
    text-decoration: none;
}

nav a:hover {
    color: orangered;
    text-decoration: none;
}

nav ul{
    display: inline-block;
    padding: 0;
    margin: 0;
    padding-top: .5rem;
}

nav li{
    margin-right: 1rem;
    display: inline;
}

#my_dataviz {
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

label {
    padding-right: 1em;
    padding-left: 1em;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  button {
    fill: aliceblue;
  }

  select {
      padding: 0.5em;
  }

  .profile-content {
    padding: 2em;
  }

  .content {
      padding: 4em 4em 0 4em;
  }

  .p-img {
      width: 100%;
      height: 100%;
  }

  .profile {
    height: 70%;
    width: 70%;
}